<h1>Vaalituloksen hallinta</h1>

<ul>
  <li><%= link_to "Äänestäjät", manage_voters_path %></li>
  <li><%= link_to "Tulokset", manage_results_path %></li>
  <li><%= link_to "Arvonnat", draws_path %></li>
</ul>
